/*!
 * cv.css
 */
 
	  body {
		  padding-top: 40px;
	  }

	  #main-resume h1, #main-resume h2, #main-resume h3, #main-resume h4 {
		  margin: 0 0 15px 0;
		  padding: 0;
		  font-weight: normal;
		  line-height: normal;
	  }
	  #main-resume h1 {
		  font-size: 450%;
	  }
	  #main-resume h2 {
		  font-size: 210%;
	  }
	  #main-resume h3 {
		  font-size: 130%;
	  }
	  
	  #main-resume p {
		  margin: 0 0 10px 0;
	  }
	  
	  #main-resume ul {
		  margin: 0;
	  }
	  #main-resume .inline{
		  margin-left: 8%;
	  }
	  
	  /* ________________________________________________________ */
	  
	  #main-resume .clear {
		  clear: both;
	  }

	  #main-resume {
	background: #fff;
	padding: 35px;
	width: auto;
	max-width: 800px;
	min-width: 550px;
	margin: 20px auto 15px auto;
	box-shadow: 1pt 1pt 10px #000000;
	font-family: Georgia, 'Myriad Pro', 'Trebuchet MS', Helvetica, Arial;
	font-size: 14px;
	  }
	  
	  #main-resume #title {
		  margin: 0px 0 20px 0;
		  line-height: 42px;
		  color: #111;
		  border-bottom: 1px solid #111;
		  padding-top: 5px;
		  padding-bottom: 13px;
		  min-width: 740px;
	  }

	  @media (max-width: 979px){
		#main-resume #title{
			font-size: 340%;
			min-width: 600px;
		}
		
	  }
			  
	  #main-resume p label {
		  font-weight: bold;
		  font-size: 110%;
		  margin-right: 8px;
	  }

	  
	  #main-resume .section {
		  margin-bottom: 40px;
		  padding-bottom: 20px;
	  }
	  
	  #main-resume .item {
		  margin: 0 0 20px 0;
	  }

	  /*  _____________________________ */
	  
	  #main-resume .basic-info .address {
		  width: 40%;
		  float: left;
	  }
	  #main-resume .basic-info .r {
		  float: right;
		  width: 50%;
		  text-align: right;
	  }
	  #main-resume .basic-info label, .basic-info span  {
		  display: inline !important;
	  }
	  #main-resume .basic-info p {
		  margin: 0;
	  }
	  
	  #main-resume .section .title {
		  float: left;
		  font-size: 100%;
		  text-transform: uppercase;
		  width: 16%;
		  margin-right: 20px;
	  }
	  
	  #main-resume .set{
		  min-width: 600px;
	  }
	  
	  #main-resume .section .set {
		  float: left;
		  width: 78%;
	  }
	  #main-resume .section .set h3 {
		  margin: 0;
	  }
	  #main-resume .section span {
		  display: block;
	  }
	  #main-resume .section h3 span.l, .section span.r {
		  width: 49%;
		  float: left;
	  }
	  #main-resume .section span.r {
		  float: right;
		  text-align: right;
	  }
	  #main-resume .section-education .school,
	  #main-resume .section-work .job_title {
		  font-size: 115%;
		  display: block;
		  margin: 5px 0 5px 0;
	  }
	  #main-resume span .texhtml {
		  font-family: "Times New Roman","Nimbus Roman No9 L",Times,serif;
		  font-size: 118%;
		  white-space: nowrap;
		  display: inline;
	  }